.page-wrapper {
  display: flex;
  position: relative;
}

.header-with-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart-wrapper {
  margin-block-start: 11px;
  border-radius: var(--border-radius-100);
  padding: 21px;
  background: linear-gradient(180deg, #fdfdfd 90%, #f7f7f7 100%);
  box-shadow: 0px 0px 3px #00000030, 0px 0px 11px #00000015;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-header h2 {
  font-size: 1.25rem;
}
.section-header h3 {
  font-size: 1rem;
}

.pointer-cursor {
  cursor: pointer;
}
