table {
  width: 100%;
  text-align: left;
}

.revenue_table thead th {
  font-size: 0.9em;
  font-weight: 600;
  color: var(--text-100);
  padding-block-end: 11px;
}

.revenue_table th,
.revenue_table td {
  border-bottom: var(--border);
}
.revenue_table tbody tr:last-child td {
  border-bottom: none;
}

.revenue_table tbody td {
  padding-block: 15px;
  font-size: 1em;
  color: #191919;
}

.growth-arrow {
  margin-right: 5px;
}
.growth-arrow.positive {
  color: #4caf50;
}
.growth-value {
  color: var(--text-200);
  font-weight: 600;
}
