.section-header h2 {
  font-size: 1.25rem;
}

.revenue_table-wrapper {
  padding: 21px 25px;
}

.revenue_table-wrapper table {
  width: 100%;
}

.revenue_table-wrapper thead th {
  padding-bottom: 11px;
  font-size: 0.9em;
  font-weight: 600;
  color: var(--text-100);
}

.revenue_table-wrapper thead tr {
  border-bottom: var(--border);
}

thead tr,
tbody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
tbody tr {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.revenue_table-wrapper tbody td {
  padding: 15px 0;
  font-size: 1em;
  color: #191919;
}

.revenue_table-wrapper .align-left {
  text-align: left;
}
.revenue_table-wrapper .align-right {
  text-align: right;
}

.growth-arrow {
  margin-right: 5px;
}
.growth-arrow.positive {
  color: #4caf50;
}
.growth-value {
  font-weight: 600;
}
