.side-nav {
  display: none;
  max-inline-size: fit-content;
  padding-inline: var(--padding-inline);
  z-index: 50;
}

.side-nav ul {
  display: flex;
  flex-direction: column;
}
.side-nav li {
  display: flex;
  align-items: center;
  gap: var(--gap);
  margin-block-start: var(--gap);
  margin-block-end: calc(2 * var(--gap));
  cursor: pointer;
  font-weight: 300;
}

.script_show-side-nav {
  display: block;
  position: sticky;
  top: 40px;
  align-self: flex-start;

  @media (max-width: 720px) {
    position: absolute;
    top: 0;
    block-size: 100vh;
  }
}
